<app-information-dialog title="Atenção" [showModal]="showInformationModal" [content]="infoMessage"></app-information-dialog>
<app-question-dialog title="Atenção" content="Deseja realmente deletar o produto?" [showModal]="showQuestionModal" (confirmAction)="confirmDelete($event)"></app-question-dialog>
<button class="btn btn-primary" (click)="addProduct()">Adicionar</button>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Preço Unitário</th>
            <th>Quantidade Estoque</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async">
            <td>{{ product.Id }}</td>
            <td>{{ product.Description }}</td>
            <td>{{ product.UnitPrice | currency:'BRL' }}</td>
            <td>{{ product.Amount }}</td>
            <td>
                <button class="btn btn-warning" [value]="product.Id" (click)="editProduct($event)">Editar</button>
                <button class="btn btn-danger" [value]="product.Id" (click)="deleteProduct($event)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>