<app-question-dialog title="Atenção" content="Deseja realmente deletar o produto?" [showModal]="showModal" (confirmAction)="confirmDelete($event)"></app-question-dialog>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Preço Unitário</th>
            <th>Quantidade Estoque</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async">
            <td>{{ product.Id }}</td>
            <td>{{ product.Description }}</td>
            <td>{{ product.UnitPrice | currency:'BRL' }}</td>
            <td>{{ product.Amount }}</td>
            <td>
                <button class="btn btn-warning" [value]="product.Id" (click)="editProduct($event)">Editar</button>
                <button class="btn btn-danger" [value]="product.Id" (click)="deleteProduct($event)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>