<app-information-dialog title="Atenção" content="Email ou Senha Inválidos" [showModal]="showModal"></app-information-dialog>

<div class="login-content">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" (keyup)="onKeyUp($event)" [(ngModel)]="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" (keyup)="onKeyUp($event)" [(ngModel)]="password">
    </div>
    <button class="btn btn-primary" (click)="authenticate()" [disabled]="!emailAndPasswordIsValid()">Entrar</button>
</div>
